@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
    background-color: #173447; /* GIS / earthy background */
    color: #e6d5d3ff;            /* primary text color for good contrast */
}

/* Use the accent for headings/buttons */
h1, h2, .btn-accent {
  color: #B0B326;
}
